.floating-pane {
    position: fixed;
    padding-top: 1em;
    width: 25rem;
    height: 35rem;
    right: 3rem;
    bottom: 3rem;
    border: 0.0625rem solid silver;
    border-radius: 0.5rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-family: "Segoe UI", arial, helvetica;
    animation: slide-in-from-right 0.3s ease-out;
    z-index: 2;
}

@keyframes slide-in-from-right {
    0% {
        transform: translateX(30rem);
    }
    100% {
        transform: translateX(0);
    }
}

.hide-chatbot {
    border: none;
    background-color: #B4B4B8;
    color: white;
    position: absolute;
    top: 0.25rem;
    right: 0.18rem;
    border-radius: 0.55rem;
    width: 2rem;
    height: 2rem;
    z-index: 10;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
