.floating-pane {
    position: fixed;
    width: 25rem;
    height: 35rem;
    right: 3rem;
    bottom: 3rem;
    border: 1px solid silver;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-family: "Segoe UI", arial, helvetica;
    animation: slide-in-from-right 0.3s ease-out;
    z-index: 2;
}

@keyframes slide-in-from-right {
    0% {
        transform: translateX(30rem);
    }
    100% {
        transform: translateX(0);
    }
}

.hide-chatbot {
    border: none;
    background-color: #777;
    color: white;
    position: absolute;
    top: 0.25rem;
    right: 0.18rem;
    border-radius: 0.35rem;
    width: 2rem;
    height: 2rem;
    z-index: 10;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatbot-input {
    margin-top: auto;
    display: flex;
    position: relative;
    border: 2px solid gray;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem 0.75rem;
    gap: 0.3rem;
    height: 5.5rem;
    align-items: stretch;
    flex-shrink: 0;
}

    .chatbot-input textarea {
        width: 100%;
        background: none;
        border: none;
        outline: none;
        resize: none;
        font-weight: 400;
        font-family: "Segoe UI", arial, helvetica;
        font-size: 16px;
    }

    .chatbot-input button {
        width: 4rem
    }

.chatbot-chat {
    overflow-y: scroll;
    height: 100%;
    padding: 0.5rem 0.75rem;
    display: flex;
    flex-direction: column;
}

    .chatbot-chat .message {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        max-width: 85%;
        display: inline-block;
        white-space: break-spaces;
        overflow-x: clip;
        margin-bottom: 0.75rem;
        margin-top: 0.25rem;
    }

        .chatbot-chat .message-assistant {
            background-color: #dbdada;
            margin-right: auto;
        }

        .chatbot-chat .message-user {
            background-color: #1369e9;
            margin-left: auto;
            color: white;
        }

    .chatbot-chat ::deep img {
        max-height: 10rem;
    }

    .thinking {
        color: gray;
        font-style: italic;
        animation: fade-in-and-out 1s infinite;
        padding: 0;
        margin: 0;
        padding-left: 0.6rem;
        font-size: 90%;
    }

@keyframes fade-in-and-out {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.2;
    }
}
