## Ignore Visual Studio artifacts
.vs/
*.user
*.suo
*.userosscache

## Build output
bin/
obj/
Debug/
Release/
debug/
release/
out/

## Test results
TestResults/
*.trx
*.coverage
*.coveragejson

## NuGet packages
*.nupkg
packages/
*.snupkg

## Logs
*.log

## Rider / JetBrains IDE
.idea/
*.sln.iml

## OS junk
Thumbs.db
*.DS_Store

## Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

## Cache folders
*.cache
*.vspscc
*.vssscc

## Azure artifacts
*.azurePubxml
*.PublishSettings

## Dotnet user secrets
**/secret.json

## SQLite (optional)
*.db
*.db-shm
*.db-wal

## IIS / Development server
*.iisSettings.json
