<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet-tools-pub" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/darc-pub-dotnet-aspire-d215c528/nuget/v3/index.json" />
    <add key="azure-sdk-for-net-dev" value="https://pkgs.dev.azure.com/azure-sdk/public/_packaging/azure-sdk-for-net/nuget/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <clear />
    <packageSource key="dotnet-tools-pub">
      <package pattern="Aspire.*" />
      <package pattern="Microsoft.Extensions.ServiceDiscovery*" />
    </packageSource>
    <packageSource key="azure-sdk-for-net-dev">
      <package pattern="Azure.Provisioning" />
      <package pattern="Azure.ResourceManager" />
      <package pattern="Azure.ResourceManager.*" />
    </packageSource>
    <packageSource key="nuget">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
