<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <!-- TO BE REMOVED ONCE 13.6.0 IS RELEASED -->
    <add key="https://pkgs.dev.azure.com/dnceng/public/_packaging/darc-pub-microsoft-aspire-e4d44bb1/nuget/v3/index.json" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/darc-pub-microsoft-aspire-e4d44bb1/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <clear />
    <packageSource key="nuget">
      <package pattern="*" />
    </packageSource>
    <!-- TO BE REMOVED ONCE 13.6.0 IS RELEASED -->
    <packageSource key="https://pkgs.dev.azure.com/dnceng/public/_packaging/darc-pub-microsoft-aspire-e4d44bb1/nuget/v3/index.json">
      <package pattern="Aspire*" />
    </packageSource>
  </packageSourceMapping>
  <!-- TO BE REMOVED ONCE 13.6.0 IS RELEASED -->
  <config>
    <add key="globalPackagesFolder" value=".nugetpackages" />
  </config>
</configuration>