<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="darc-int-dotnet-aspire" value="https://pkgs.dev.azure.com/dnceng/internal/_packaging/darc-int-dotnet-aspire-7512c294/nuget/v3/index.json" />
    <add key="darc-int-dotnet-dotnet" value="https://pkgs.dev.azure.com/dnceng/internal/_packaging/darc-int-dotnet-dotnet-b0f34d51-1/nuget/v3/index.json" />
    <add key="darc-int-dotnet-aspnetcore-1" value="https://pkgs.dev.azure.com/dnceng/internal/_packaging/darc-int-dotnet-aspnetcore-ee417479/nuget/v3/index.json" />
    <add key="darc-int-dotnet-aspnetcore-2" value="https://pkgs.dev.azure.com/dnceng/internal/_packaging/darc-int-dotnet-aspnetcore-d3aba8fe/nuget/v3/index.json" />
    <add key="darc-int-dotnet-efcore-1" value="https://pkgs.dev.azure.com/dnceng/internal/_packaging/darc-int-dotnet-efcore-489d66cd/nuget/v3/index.json" />
    <add key="darc-int-dotnet-efcore-2" value="https://pkgs.dev.azure.com/dnceng/internal/_packaging/darc-int-dotnet-efcore-f55fe135/nuget/v3/index.json" />
    <add key="darc-int-dotnet-extensions" value="https://pkgs.dev.azure.com/dnceng/internal/_packaging/darc-int-dotnet-extensions-fbd39361/nuget/v3/index.json" />
    <add key="darc-int-dotnet-runtime-1" value="https://pkgs.dev.azure.com/dnceng/internal/_packaging/darc-int-dotnet-runtime-a2266c72/nuget/v3/index.json" />
    <add key="darc-int-dotnet-runtime-2" value="https://pkgs.dev.azure.com/dnceng/internal/_packaging/darc-int-dotnet-runtime-fa7cdded/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="darc-int-dotnet-aspire">
      <package pattern="Aspire*" />
    </packageSource>
    <packageSource key="nuget">
      <package pattern="Aspire*" />
      <package pattern="*" />
    </packageSource>
    <packageSource key="darc-int-dotnet-dotnet">
      <package pattern="*" />
    </packageSource>
    <packageSource key="darc-int-dotnet-aspnetcore-1">
      <package pattern="*" />
    </packageSource>
    <packageSource key="darc-int-dotnet-aspnetcore-2">
      <package pattern="*" />
    </packageSource>
    <packageSource key="darc-int-dotnet-efcore-1">
      <package pattern="*" />
    </packageSource>
    <packageSource key="darc-int-dotnet-efcore-2">
      <package pattern="*" />
    </packageSource>
    <packageSource key="darc-int-dotnet-extensions">
      <package pattern="*" />
    </packageSource>
    <packageSource key="darc-int-dotnet-runtime-1">
      <package pattern="*" />
    </packageSource>
    <packageSource key="darc-int-dotnet-runtime-2">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>