.catalog {
    padding: 0 10rem;
    display: flex;
    gap: 6rem;
}

.catalog .catalog-filter {
    flex-grow: 1;
    min-width: 14rem;
}

.catalog .catalog-filter .catalog-filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    gap: 0.7rem;
}

.catalog .catalog-filter .filter-reset {
    margin-left: auto;
}

.catalog .catalog-filter .filter-reset:hover {
    cursor: pointer;
}

.catalog .catalog-filter .filter-badge {
    background: #000;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.catalog .catalog-filter-group h3 {
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    line-height: 150%;
}

.catalog .catalog-filter-group .catalog-filter-group-tags {
    border-top: 1px solid #404040;
    display: flex;
    padding: 0.75rem 0;
    align-items: center;
    align-content: center;
    gap: 0.25rem;
    align-self: stretch;
    flex-wrap: wrap;
}

.catalog-filter-group-tags .catalog-filter-tag {
    display: flex;
    padding: 0.5rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    border-radius: 1.25rem;
    color: #404040;
    font-family: 'Open Sans';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.catalog-filter-group-tags .catalog-filter-tag:hover {
    cursor: pointer;
}

.catalog-filter-group-tags .catalog-filter-tag.active {
    background: #000;
    color: #FFF;
}

.catalog .catalog-items {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 2.5rem;
    flex-wrap: wrap;
    flex-grow: 1;
}

.page-links {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    margin-top: 1.5rem;
}

::deep a {
    display: flex;
    padding: 12px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background: #F7F7F7;
    color: #000;
    text-decoration: none;
}

.page-links ::deep a.active-page {
    color: #F7F7F7;
    background-color: #000;
}


@media only screen and (max-width: 480px) { 
    .catalog {
        padding: 0 1rem;
        flex-direction: column;
        gap: 1rem;
    }

    .page-links {
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) { 
    .catalog {
        padding: 0 3rem;
        flex-direction: column;
        gap: 1.5rem;
    }

    .page-links {
        flex-wrap: wrap;
    }
}