@page "/error"

<PageTitle>An Error Has Occurred | Northern Mountains</PageTitle>
<SectionContent SectionName="page-header-title">Whoops!</SectionContent>
<SectionContent SectionName="page-header-subtitle">Something Went Wrong on Our End.</SectionContent>

<div class="error">
    <p>We're sorry, but there seems to be a hiccup on our side that's preventing your request from being completed. 
        These things happen from time to time, but we're on it! What can you do?</p>
    <ul>
        <li>Try Again: Sometimes, the issue is just a temporary glitch. Give it another shot.</li>
        <li>Come Back Later: We'll be working on fixing this as quickly as we can, so please check back in a bit.</li>
        <li>Need Help? If you need immediate assistance, feel free to reach out to our support team.</li>
    </ul>
    <p>We appreciate your patience and understanding!</p>
</div>
