.eshop-header {
    position: relative;
    max-width: 120rem;
    margin: auto;
}

.eshop-header.home .eshop-header-container {
    height: 38rem;
    margin-bottom: 0;
}

.eshop-header .eshop-header-container {
    height: 15rem;
    margin-bottom: 4rem;
}

.eshop-header-hero {
    overflow: hidden;
    position: absolute;
    max-width: 100%;
    left: 0;
    top: 0;
}

.eshop-header-container {
    position: relative;
    margin: auto;
    margin: 0 10rem;
}

.eshop-header-intro {
    position: absolute;
    max-width: 48rem;
    bottom: 3rem;
    white-space: nowrap;
}

.eshop-header-intro h1 {
    color: #000;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin: 0;
}

.eshop-header-intro p {
    color: #000;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    margin: 0;
}

.eshop-header .logo-header {
    color: black;
    margin-right: auto;
    width: 20vw;
    height: auto;
    max-width: 250px;
    min-width: 100px;
}

.eshop-header-navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1.25rem;
    gap: 1.5rem;
}

@media only screen and (max-width: 480px) { 
    .eshop-header-hero {
        height: 18rem;
    }

    .eshop-header-hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .eshop-header .eshop-header-container {
        height: 15rem;
        margin-bottom: 4rem;
    }

    .eshop-header-container {
        margin: 0 1rem;
    }

    .eshop-header.home .eshop-header-container {
        height: 18rem;
        margin: 0 1rem;
    }

    .eshop-header-intro {
        white-space: wrap;
        bottom: 0;
    }

    .eshop-header-intro h1 {
        font-size: 2rem;
    }
    
    .eshop-header-intro p {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) { 
    .eshop-header.home .eshop-header-hero {
        height: 24rem;
    }

    .eshop-header .eshop-header-hero {
        height: 15rem;
    }

    .eshop-header-hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .eshop-header-container {
        margin: 0 1rem;
        margin: 0 3rem;
    }

    .eshop-header.home .eshop-header-container {
        height: 24rem;
        margin: 0 3rem;
    }

    .eshop-header-intro {
        white-space: wrap;
    }

    .eshop-header-intro h1 {
        font-size: 2rem;
    }
    
    .eshop-header-intro p {
        font-size: 1.5rem;
    }
}