@using Microsoft.AspNetCore.Components.Authorization
@using WebApp.Components.Pages.User
@inject NavigationManager Nav
@inject IHttpContextAccessor HttpContextAccessor

<AuthorizeView>
    <Authorized>
        <h3>@context.User.Identity?.Name</h3>
        <div class="dropdown-menu">
            <span class="dropdown-button"><img role="presentation" src="icons/user.svg"/></span>
            <div class="dropdown-content">
                <a class="dropdown-item" href="user/orders">My orders</a>
                <a class="dropdown-item" href="submission/create">Create Submission</a>
                <a class="dropdown-item" href="submissions">View Submissions</a>
                <a class="dropdown-item" href="#" @onclick="Logout">Log out</a>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <button @onclick="Login">
            <img role="presentation" src="icons/user.svg"/>
        </button>
    </NotAuthorized>
</AuthorizeView>

@code {

    private void Login()
    {
        Nav.NavigateTo(LogIn.Url(Nav), true);
    }

    private void Logout()
    {
        Nav.NavigateTo(LogOut.Url(Nav), true);
    }

}