---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  labels:
    app: redis
spec:
  minReadySeconds: 60
  replicas: 1
  selector:
    matchLabels:
      app: redis
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: docker.io/library/redis:7.4
        imagePullPolicy: Always
        command:
          - /bin/sh
        args:
        - -c
        - redis-server --requirepass $REDIS_PASSWORD
        ports:
        - name: tcp
          containerPort: 6379
        envFrom:
        - configMapRef:
            name: redis-env
      terminationGracePeriodSeconds: 180