---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
spec:
  minReadySeconds: 60
  replicas: 1
  selector:
    matchLabels:
      app: redis
  strategy:
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: redis:latest
        imagePullPolicy: 
        envFrom:
        - configMapRef:
            name: redis-env
      terminationGracePeriodSeconds: 180