.cart-badge {
    display: flex;
    padding: 0.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    position: absolute;
    right: -0.5rem;
    top: 1rem;
    border-radius: 20px;
    border: 1px solid #000;
    background: #000;
    color: #FFF;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.25rem;
}
