name: Playwright Tests for eShop
on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'
      - 'src/ClientApp/**'
      - 'tests/ClientApp.UnitTests/**'
      - '.github/workflows/pr-validation-maui.yml'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**.md'
      - 'src/ClientApp/**'
      - 'test/ClientApp.UnitTests/**'
      - '.github/workflows/pr-validation-maui.yml'
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'
        dotnet-quality: 'preview'
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: npx playwright install chromium
    - name: Run Playwright tests
      run: npx playwright test
      env:
        ESHOP_USE_HTTP_ENDPOINTS: 1
        USERNAME1: bob
        PASSWORD: Pass123$
        RP_API_KEY: ${{ secrets.REPORTPORTAL_API_KEY }}
        RP_ENDPOINT: "https://reportportal.epam.com/api/v1"
        RP_PROJECT: ${{ secrets.REPORTPORTAL_PROJECT }}
        RP_LAUNCH: "Playwright E2E | ${{ github.repository }} | ${{ github.ref_name }} | #${{ github.run_number }}"
    - uses: actions/upload-artifact@v4
      if: always()
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
