@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<header>
    <h1>Order management</h1>
    <div class="user-info">
        <AuthorizeView>
            <Authorized>
                @context.User.Identity?.Name
                <form method="post" action="logout">
                    <AntiforgeryToken />
                    <button type="submit">Log out</button>
                </form>
            </Authorized>
            <NotAuthorized>
                Log in
            </NotAuthorized>
        </AuthorizeView>
    </div>
</header>
@Body

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
