@inherits LayoutComponentBase

<header>
    <h1><a href="">Order management</a></h1>
    <div class="user-info">
        <UserMenu />
    </div>
</header>

<main>@Body</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
